<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div>
      <h1>hello world</h1>
      <form action="/user-profile" method="post">
        <input type="text" name="username" />
        <input type="email" name="email" />
        <input type="number" name="age" />
        <input type="submit" />
      </form>
    </div>
    <script>
      const formData = new FormData();
      async function onSubmitForm() {
        const data = {
          name: formData.get("name"),
          email: formData.get("email"),
          age: formData.get("age"),
        };
        console.log(data);
        console.log("hello world");
        const responst = await axios.post("/user-profile", data);
      }
    </script>
  </body>
</html>
